
/* nav bar */
.navbar-default {
  background-color: #2C3E50;
  border: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  text-transform: uppercase;
  color: #ffffff;
}

.navbar-nav > li > a{
  padding-top: 40px;
  padding-bottom: 40px;
  margin-right: 20px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 25px 20px;
  line-height: 55px;
  font-size: 22px;
}

.navbar {
  min-height: 100px;
}

.navbar-toggle {
  margin-top: 30px;
  background-color: #1ABC9C;
  border-color: #1ABC9C;
  border-style: none;
  padding: 10px 15px;
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #1ABC9C;
    background-color: transparent;
}
/* nav bar */
.mg-top{
  margin-top: 100px;
}

/* icon star */
.icon-star{
  font-size: 40px;
  text-align: center;
}

.icon-star div{
  background-color: #ffffff;
  height: 3px;
  width: 10%;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 10px;
}

/* icon star */

/* main section avatar */
.jumbotron{
  text-align: center;
  color: #ffffff;
  background-color: #1ABC9C;
  padding-top: 55px;
  padding-bottom: 65px;
}

.jumbotron img{
  height: 250px;
}

.jumbotron h1{
  text-transform: uppercase;
}

.jumbotron p{
  font-size: 22px;
  margin-top: 1.5em;
}
/* main section avatar */

/* portfolio section */
#portfolio{
  color: #2C3E50;
  text-align: center;
}

#portfolio > .icon-star > div{
  background-color: #2C3E50;
}

#portfolio h1{
  font-size: 50px;
}

img{
  height: 250px;
}

.port-img img{
  margin-top: 40px;
  border-radius: 10px;
}

/* hover img */
.plus{
  position: relative;
}
.plus img {
  display: inline-block;
}

.over-img {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 21px;
  right: 0px;
  height: 250px;
  width: 89%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1ABC9C;
  border-radius: 10px;
}

.plus:hover .over-img {
  opacity: 0.95;
  cursor: pointer;
}

.fa-plus {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media all and (min-width: 992px) and
(max-width: 1200px){
  img{
    height: 210px;
  }

  .over-img {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 16px;
    right: 0px;
    height: 210px;
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1ABC9C;
    border-radius: 10px;
  }
}

@media all and (max-width: 992px){
  #portfolio h1{
    font-size: 35px;
  }

  .over-img{
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 15px;
  right: 0px;
  height: 250px;
  width: 92%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1ABC9C;
  border-radius: 10px;
}
}

@media all and (max-width: 767px){
  .plus img{
    height: 100%;
    max-width: 80%;
    width: 100%;
    margin: 15px auto;
  }
}
